body {
  background-color: antiquewhite;
  font-family: Arial;
}

/* Styling (Dynamic Class Binding) */
.fizz {
  color: orange;
  font-weight: bold;
}

.buzz {
  color: #0088ff;
  font-weight: bold;
}

.fizzbuzz {
  color: purple;
  font-weight: bold;
}

.number-input {
  font-size: 15px;
  padding: 10px;
}

.enter-button {
  font-size: 15px;
  border: none;
  background-color: green;
  color: white;
  padding: 12px 15px;
  cursor: pointer;
}
