body {
  background-color: antiquewhite;
  font-family: Arial;
}

/* Display : Grid / Card Layout */
#display {
  display: grid;

  /* Specify column width at least 70px and auto-align */
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 12px;
  margin-top: 25px;
  max-width: 800px;
}

/* Styling (Dynamic Class Binding) */
.fizz {
  color: orange;
  font-weight: bold;
}

.buzz {
  color: #0088ff;
  font-weight: bold;
}

.fizzbuzz {
  color: purple;
  font-weight: bold;
}

.number-input {
  font-size: 15px;
  padding: 10px;
}

.enter-button {
  font-size: 15px;
  border: none;
  background-color: green;
  color: white;
  padding: 12px 15px;
  margin-left: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.clear-button {
  background-color: #e74c3c;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  margin-left: 3px;
  cursor: pointer;
}
